/* The appearance of windows */
.CWndLearning, .CWndTest, .CReportWnd {
    /*font-family: "Segoe UI";*/
    font-size: 16pt;
    background-color: qlineargradient(x1:0, y1:1, x2:0, y2:0,
        stop:0 #FCFCFC,
        stop:0.4 #F0F0F0,
        stop:0.6 #F0F0F0,
        stop:1 #FCFCFC);
}

/* Word panes */
CWordPane {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: qlineargradient(x1:0, y1:1, x2:0, y2:0,
        stop:0 #F0F0F0,
        stop:0.3 #FCFCFC,
        stop:0.7 #FCFCFC,
        stop:1 #F0F0F0);
}

QTextEdit {
    /*font-family: "Times New Roman";*/
    font-size: 20px;
    /*font-style: normal;*/
}

/* Button 'Play sound' */
QPushButton#ButtonPlaySound {
    border: 1px solid gray;
    border-radius: 3px;
    width: 32px;
    height: 32px;
    background-color: qlineargradient(x1:0, y1:1, x2:0, y2:0,
        stop:0 #F0F0F0,
        stop:0.5 #FCFCFC,
        stop:1 #F0F0F0);
}

/* Word in a top row */
QLabel#Word {
    font-family: "Times New Roman";
    font-size: 26px;
    font-weight: 500;
}

/* Word Transcription */
QLabel#Transcription {
    font-family: "Times New Roman";
    font-size: 22px;
}

QLabel#TestHintLabel {
    color: #808080;
    font-size: 14px;
}

QTextEdit#Example {
    border-style: None;
    color: #808080;
    font-size: 18px;
}
